<% content_for :title, "Editing Test For Call Box{@call_box.cb_num}" %>
<h1 class="main-title">
	Editing Test
	<span><%= link_to 'Cancel and Return', layer_call_box_test_index_path(@layer, @call_box), :class => 'cancel-link' %></span>
</h1>

<%= render 'form' %>

<%= link_to 'show', layer_call_box_test_path(@layer, @call_box, @cb_test) %>
