<% content_for :title, "New Call Box Test" %>

<h2 class="breadcrumb">
        <%= link_to "Home", root_path %>&nbsp;/&nbsp;
        <%= link_to "Tests", cb_tests_path %>&nbsp;/&nbsp;
</h2>

<div class="main-title">
        <h1>New Call Box Test</h1>
</div>
<span>
        <%= render 'form' %>
</span>
